@mixin icon($font-size, $margin, $color, $hover-color) {
  font-size: $font-size;
  margin: 0 $margin;
  color: $color;
  transition: all 0.2s;
  &:hover {
    color: $hover-color;
    transform: scale(110%);
  }
}
