div {
  div.title {
    display: block;
    padding: 12px;
    position: relative;
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      width: 30%;
      height: 1px;

      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30%;
      height: 1px;
      background-color: #fff;

      // left: 50%;
      transform: translateX(-50%);
    }

    h3 {
      color: #fff;
      margin: 0;
      padding: 10px;
      text-transform: uppercase;
    }
  }
  .list-button {
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
    margin: 5px;
    background-color: white;
    &:hover {
      color: white;
      background-color: darkgray;

      transition: all 0.4s;
    }
    &:focus {
      outline: none;
    }
  }
}
.slick-next,
.slick-prev {
  display: none !important;
}
// @media only screen and (max-width: 768) {
//   .name-movie {
//     font-size: 12px;
//   }
// }
