.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-detail {
  border-right: 1px solid #ffffff9e;
}
@media only screen and (max-width: 576px) {
  .detail-css {
    padding: 0 6px !important;
  }

  .img-detail {
    border-right: none !important;
  }
  // img {
  //   width: 50% !important;
  // }
}
